In [1]:
#Looking at the Pandas module for the first time
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
#Series is like an array but has data labels (indexed)
obj = Series([3,6,9,12])

obj
#Note it is indexed, 0 index is 3 etc

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
#Create a series with an index specified
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [7]:
ww2_cas['USA']

400000

In [9]:
#Check which countries has casualties greater than 4 mil
#Array operation argument
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [10]:
#Check if it is in the series (sort of like a dictionary)
'USSR' in ww2_cas

True

In [11]:
#Convert series into a dictionary
ww2_dict = ww2_cas.to_dict()

ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [12]:
ww2_series = Series(ww2_dict)

ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [13]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [14]:
#Sets the values from the index if matched with the dict, otherwise gives an NaN
obj2 = Series(ww2_dict,index=countries)

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [15]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [16]:
#Shows which items in the series is a null
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [17]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [19]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [20]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [21]:
#Names series
obj2.name = "World War 2 Casualties"

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [22]:
#Names Index
obj2.index.name = 'Countries'

In [23]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64