In [1]:
import pandas as pd

In [13]:
#Cross Tabulation is basically a special form of pivot tables
from io import StringIO

In [14]:
#Allows you to make data like this
data = """\
Sample Animal Intelligence
1 Dog Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

In [15]:
dframe = pd.read_table(StringIO(data),sep='\s+')
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [16]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6

Creates a pivot table that is also a frequency counter
total number of cats, dogs, and all the items, and separates them by the second argument (in this case intelligence)