In [1]:
# Python crash course

# Calculator
3+3

6

In [3]:
(50 - 5*6)/4

5.0

In [4]:
5/6

0.8333333333333334

In [6]:
import math
math.sqrt(36)

6.0

In [45]:
from math import sqrt
# ** power
sqrt(36)**2

36.0

In [8]:
# Defining variables
volume = 10
volume

10

In [10]:
red = 5
red * volume

50

In [11]:
# Strings
'Hello world'

'Hello world'

In [12]:
"Hello world"

'Hello world'

In [13]:
print('Hello world!')

Hello world!

In [14]:
# Difference between double quotes and single quotes
# Can now use "" in a string
' She said "Hello" '

' She said "Hello" '

In [15]:
" She said 'Hello' "

" She said 'Hello' "

In [17]:
phrase = 'hello'
phrase

'hello'

In [18]:
print(phrase)

hello

In [19]:
print('My volume is', volume)

My volume is 10

In [22]:
phrase = 'hello' + ' ' + 'world'

In [23]:
print(phrase)

hello world

In [31]:
# Lists 
cities = ['NYC', 'LA', 'SF']

In [25]:
cities

['NYC', 'LA', 'SF']

In [26]:
# Access specific objects in list using index (starts at 0)
cities[0]

'NYC'

In [27]:
cities[1]

'LA'

In [28]:
# Negative values in list means starting from the back
cities[-1]

'SF'

In [32]:
# Add to list
cities.append('CHI')
cities

['NYC', 'LA', 'SF', 'CHI']

In [37]:
# Range command to make a list of numbers, remember indexing starts at 0
import numpy as np
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [42]:
x = np.arange(0,20,2)
x

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [43]:
# Lists don't need to have same datatype
random_list = ['hello', 76, 'today', 4, 3]
random_list

['hello', 76, 'today', 4, 3]

In [44]:
# Length of lists
len(random_list)

5

In [47]:
# For loops
for city in cities: 
    print(city)

NYC
LA
SF
CHI

In [48]:
for city in cities:
    phrase = "I love " + city
    print(phrase)

I love NYC
I love LA
I love SF
I love CHI

In [50]:
for n in range(1,10):
    print('The Inverse of ', n , 'is, ', 1/n)

The Inverse of  1 is,  1.0
The Inverse of  2 is,  0.5
The Inverse of  3 is,  0.3333333333333333
The Inverse of  4 is,  0.25
The Inverse of  5 is,  0.2
The Inverse of  6 is,  0.16666666666666666
The Inverse of  7 is,  0.14285714285714285
The Inverse of  8 is,  0.125
The Inverse of  9 is,  0.1111111111111111

In [52]:
for letter in 'Hello':
    print(letter)

H
e
l
l
o

In [57]:
# Boolean logic 

if city == 'NY':
    print('Party')
else:
    print('Work')

Party

In [55]:
city

'CHI'

In [56]:
city = 'NY'

In [58]:
1 == 2

False

In [59]:
2 == 2

True

In [60]:
3 > 4

False

In [61]:
4 < 5

True

In [62]:
1 <= 2

True

In [63]:
1 != 2

True

In [64]:
1 >= 2

False

In [65]:
[1,1,1]==[1,1]

False

In [66]:
[1,1,1]==[1,1,1]

True

In [68]:
city = cities[0]
city

'NYC'

In [72]:
# Multiple if with elif
if city == 'NY':
    print('Party')
elif city == 'LA':
    print('Its hot here')
else:
    print("Where am I?")

Where am I?

In [70]:
# CAN HIGHLIGHT TEXT AND TAB TO SPACE IT ALL OUT
for city in cities:
    if city == 'NY':
    print('Party')
    elif city == 'LA':
        print('Its hot here')
    else:
        print("Where am I?")

In [74]:
# TWO MORE DATA STRUCTURES 
# Tuples, sequence object like list or string, construct it by grouping sequence of object with commas 
t = (1, 2, 3)
# Tuples are IMMUTABLE, can't append to them or change elements of them

In [75]:
# Dictionary
# Index in a dictionary is a key, corresponding value is the value
my_dict = {'Joe': 22, 'Mike': 12}

In [76]:
my_dict['Joe']

22

In [77]:
len(my_dict)

2

In [78]:
# Functions, ''' to add comments '''
def adder(x, y):
    '''
    This function adds two values
    '''
    return x + y

In [79]:
adder(1, 4)

5